<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * insert tag with app-your-app * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-image-box></app-image-box> -->
<!-- <app-tabs-component></app-tabs-component> -->
<div class="testing-box">
  <master-button [alertType]="alertType" [type]="'primary'" [title]="'save'"></master-button>
  <master-button [alertType]="alertType"  [type]="'danger'" [title]="'delete'"></master-button>
  <master-button [alertType]="alertType"  [type]="'warning'" [title]="'warning'"></master-button>
  <master-button [alertType]="alertType"  [type]="'success'" [title]="'success'"></master-button>
</div>
<!-- <router-outlet></router-outlet> -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- <router-outlet></router-outlet> -->