#image-box{
  width: 100%;
  max-width: 600px;
  background: #1b1b1b;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  h3{
    color: #1b1b1b;
  }
  img{
    width: 100%;
  }
  .left{
    background: #fff;
    width: 100%;
    max-width: 300px;
    padding: 10px;
  }
  .right{
    background: #f5f7fa;
    padding: 20px;
    width: 300px;
    h3{
      text-align: center;
    }
    ul{
      
    }
    li{
      padding: 5px;
    }
  }
}